
/*-----------------------------Fonts-----------------------------------*/
.padding-nav{
    padding: 2% 7% !important;
}
/*-----------------------------Hover-----------------------------------*/
.btnSearchHover:hover{
    color: var(--white) !important;
    background-color: var(--blue)!important;
    border: var(--blue)!important;
}
.navbar{
    --bs-navbar-padding-x:none !important;
    --bs-navbar-color:none !important;
}
.navbar-nav{
    --bs-nav-link-hover-color:none !important;

}
.pos-fixed{
    position:fixed !important;
}
a {
    color: white !important;
    text-decoration: none !important;
}

.z-10{
    z-index: 10;
}
a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}