:root {
    --blue: #00bdfe;
    --white: #ffffff;
}
/*-----------------------------Fonts-----------------------------------*/
.bg-blue{
    background-color: var(--blue) !important;
}
.bgWhite{
    background-color: var(--white) !important;
}
.colorWhite{
    color: var(--white) !important;
}
.colorBlue{
    color: var(--blue) !important;
}
.fw-400{
    font-weight: 400;
}
/*-----------------------------Border-----------------------------------*/
.borderBlue{
    border-color:var(--blue) !important;
}

.padding-nav{
    padding: 2% 7% !important;
}
/*-----------------------------Hover-----------------------------------*/
.btn-sign-in:hover{
    color: var(--white) !important;
    background-color: var(--blue)!important;
    border: var(--blue)!important;
}
.navbar{
    --bs-navbar-padding-x:none !important;
    --bs-navbar-color:none !important;
}
.navbar-nav{
    --bs-nav-link-hover-color:none !important;

}
.pos-fixed{
    position:fixed !important;
}
/*.has-sub:hover{
    active
}*/